[user]
	email = omri.sarig@prevas.dk
	name = Omri Sarig
[alias]
	fetch-all = fetch --all --prune
	branches = branch -l
	all-branches = branch -a
	safe-pull = merge --ff-only
	full-log = log --all --graph
	full-short-log = log --all --graph --oneline
	cdiff = diff --cached
	amend = commit --amend --no-edit
	push-amended = push --force-with-lease
	submodule-diff = '!'"git diff && git submodule foreach 'git diff'"
	submodule-update = 'submodule update --remote --merge'
	cdiff = "!f() { git range-diff ${1}~1..${1} ${2}~1..${2}; }; f"
[merge]
	tool = vimdiff
[cinnabar]
	version-check = 1586350839
	helper = /home/omri/.mozbuild/git-cinnabar/git-cinnabar-helper
[diff]
	submodule = log
[safe]
	directory = *
[submodule]
	recurse = True
[push]
	recurseSubmodules = check
[init]
	defaultBranch = main
[core]
	autocrlf = input
[pull]
	ff = only
[format]
	signature = 
[sendemail]
    smtpServer = smtp.gmail.com
    smtpServerPort = 587
    smtpEncryption = tls
    smtpUser = omri.sarig13@gmail.com
[credential]
    helper = store
